.burgers {
  height: 100vh;
  min-height: 40.62rem;
  width: 100%;
  background: linear-gradient(to top, #f9b43b, #eb8c38, #f9b43b);
  position: relative;
  display: flex;
  @include tablets {
    min-height: 0;
  }
  @include phones {
    min-height: 0;
  }
}
  
.burgers-container {
  display: flex;
  align-items: center;
  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.burgers__slider {
  display: flex;
  align-items: center;
  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// .burgers__item {
//   display: flex;
//   align-items: center;
//   display: none;
//   &--active {
//     display: flex;
//   }
//   @include tablets {
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//   }
// }

.burgers__pic-wrap {
  flex: 1;
  @include tablets {
    height: 30%;
    flex: 1;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }
    @include phones {
      
      flex: 1;
      width: 70vw;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      }

  img {
      // width: 100%; 
      // height: 100%; /* Высота изображении */
      max-width: 100%;
      object-fit: cover;
  }
}


.burgers__desc {
  flex: 1;
  align-items: baseline;
  article {
    margin-bottom: 2rem;
  }

  @include tablets {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3rem;
    width: 80vw;
    text-align: center;
	  }
}

.burgers__price {
  display: flex;
  align-items: baseline;
  
  .burger__desc-price {
    display: flex;
    align-items: baseline;
    margin-right: 1rem;
    color: #e35028;
    font-family: 'gagalin';
    font-size: 1.5rem;
  }
  .burger__desc-price-how-many {
    display: flex;
    align-items: flex-end;
    font-size: 4rem;
    margin-right: 0.5rem;
    
  }
}

.burgers__icon-burger {
  position: absolute;
  left: 10%;
  top: 15%;
  padding: 1rem 1.5rem 2rem;
  background-color: #f08c33;
  border-radius: 10%;
  &:after {
    content: 'СОСТАВ';
    position: absolute;
    width: 70%;
    height: 70%;
    top: 70%;
    left: 27%;
    font-family: 'gagalin';
    font-size: 0.87rem;
  }

  @include tablets {
    left: 5%;
    top: 5%;
    }
}

.burgers__icon-kkal {
  position: absolute;
  left: 10%;
  bottom: 20%;
  &:after {
    content: '1200';
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 20%;
    font-family: 'gagalin';
    font-size: 1.2rem;
 
  }
  &:before {
    content: 'ккал';
    position: absolute;
    width: 70%;
    height: 70%;
    top: 100%;
    left: 22%;
    font-family: 'gagalin';
    font-size: 0.87rem;
    // transform: translate(-50%, 0);
  }

  @include tablets {
    left: 85%;
    bottom: 87%;
    }
}

.slide {
  display: none;
}

.visible {
  display: flex;
  align-items: center;
  // display: none;
  &--active {
    display: flex;
  }
  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
