.greeting {
  height: 100vh;
  min-height: 40.62rem;
  width: 100%;
  background: url(../img/bg_desc.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container--greeting {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  @include flex;
  padding-top: 0.62rem;

  @include tablets {
    display: flex;
    justify-content: space-between;
	  }
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1rem;
  @include flex;

  &__img {
    margin-right: 1.25rem;    
    padding-left: 1.25rem;
  }

  &__title-wrap {
    padding-top: 4.37rem;
  }

  &__title-bottom {
    font-family: 'lifehackmedium';
    font-size: 4rem;
  }

  @include tablets {
    flex-direction: column;
    text-align: center;
    .description__title-wrap {
      padding-top: 1rem;
    }
  }
}

.description__img {
  // img {
  //   max-width: 100%;
  // }
}


.buttons {
  display: flex;
  justify-content: center;  

}
