.player {
    height: 100vh;
    min-height: 40.62rem;
    width: 100%;
    position: relative;
    display: flex;
    background: url(../img/bg-play.jpg) center center no-repeat;
    background-size: cover;
}