
.reviews {
  height: 100vh;
  width: 100%;
  background-color: #cfd8dc;
  background-size: cover;
}

.container--reviews {
  @include flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;

}

.review--1 {
  background: url(../img/avatars/1.jpg) no-repeat center center;
  background-size: cover;

}
.review--2 {
  background: url(../img/avatars/2.jpg) no-repeat center center;
  background-size: cover;
}
.review--3 {
  background: url(../img/avatars/3.jpg) no-repeat center center;
  background-size: cover;
}
.review--4 {
  background: url(../img/avatars/4.jpg) no-repeat center center;
  background-size: cover;
}
.review--5 {
  background: url(../img/avatars/5.jpg) no-repeat center center;
  background-size: cover;
}
.review--6 {
  background: url(../img/avatars/6.jpg) no-repeat center center;
  background-size: cover;
}
.review--7 {
  background: url(../img/avatars/7.jpg) no-repeat center center;
  background-size: cover;
}
.review--8 {
  background: url(../img/avatars/8.jpg) no-repeat center center;
  background-size: cover;
}
