
.reviews {
  height: 100vh;
  min-height: 40.62rem;
  width: 100%;
  background-color: #cfd8dc;
  background-size: cover;
}

.reviews__list {
  @include flex;
  height: 100%;
  width: 100vw;
  flex-wrap: wrap;

}
