.arrow-scroll {
  border: 25px solid transparent;
	// border-left: 16px solid white;
	// border-top: 16px solid white;
	// border-top: 16px solid red;
	border-top: 25px solid white;
  position: fixed;
  top: 65%;
  left: 50%;
}
