@import 'utils/module';
@import 'base/module';
@import 'components/module';
@import 'layout/module';
@import 'pages/module';
// @import 'themes/module';
// @import 'vendors/module';
/*

base/ — включает глобальные стили, такие как сброс стилей, типография, цвета и т.д.

components/ — содержит отдельные компоненты с отдельным файлом .scss для каждого из них.

layout/ — содержит стили для основных компонентов макета, таких как хедер, футер, навигация и т.д.

pages/ — содержит стили, специфичные для отдельных страниц, если это необходимо.

themes/ — стили для разных тем.

utils/ — глобальные миксины, функции, вспомогательные селекторы и т.д.

vendors/ — стили, миксины и прочее от третьих сторон

main.scss — выходной файл, в котором объединяются все стили.

В каждом каталоге должен быть файл .scss, объединяющий все остальные файлы из
этого каталога - он может называться _module.scss или _glob.scss, например.
И на каждый из этих файлов должна быть ссылка в основном файле main.scss:

*/
